<%= form_for(@todo) do |f| %>
  <% if @todo.errors.any? %>
    <!--<div id="error_explanation" class = "alert">-->
    <div class = "alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h4>

      <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>



  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :due_on %><br />
    <%= f.date_select :due_on %>
  </div>
  <div class="field">
    <%= f.label :completed %><br />
    <%= f.check_box :completed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
